.profile-icon {
    font-size: 2rem; /* Adjust as needed */
    color: white;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .dropdown-menu-custom {
    left: -100px !important; /* Adjust this value to position the dropdown correctly */
    width: 170px; /* Adjust the width as per your content */
    white-space: normal; 
    margin-right: 20px;/* Ensures text wraps */
  }
  