/* Notification.css */
.notification-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    background-color: white;
    z-index: 1000;
    box-shadow: -4px 0 5px -2px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: transform 0.3s ease-out;
    transform: translateX(100%);
  }
  
  .notification-popup.show {
    transform: translateX(30%);
  }
  
  .container {
    margin-top: 10%; /* Adjust for consistent spacing */
  }
  
  .navbar {
    background-color: white; /* Ensure background color is consistent */
  }
  