.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10px; /* Optional: To provide some spacing around the container */
}

.card-item {
    flex: 1 0 30%; /* Ensures three items per line (100% / 3 ≈ 33.33%) */
    box-sizing: border-box; /* Ensures padding and border are included in the width calculation */
    margin: 5px; /* Reduce margin to decrease gap between cards */
    max-width: 30%; /* Ensures the width doesn't exceed 30% */
}

.card-item .card {
    width: 100%; /* Ensures the card takes up the full width of the container */
    height: 350px; /* Sets a fixed height for the cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Ensures content doesn't overflow */
}

.card-item .card-img-top {
    height: 150px; /* Adjust the height of the image */
    object-fit: cover; /* Ensures the image covers the container without stretching */
}

.card-item .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Ensures content doesn't overflow */
}

.card-item .card-title {
    font-size: 1.2rem; /* Adjust as needed */
    margin-bottom: 0.5rem;
}

.card-item .card-text {
    font-size: 1rem; /* Adjust as needed */
    margin-bottom: 0.5rem;
}

.card-item .card-button {
    align-self: flex-end;
    margin-top: auto;
}

.page-container {
    position: relative;
}

.content {
    transition: filter 0.3s ease-out; /* Smooth transition for the blur effect */
}

.blur {
    filter: blur(5px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Prevents clicks on blurred elements */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 200px;
    width: 300px;
}

.popup-content {
    text-align: center;
}

.popup button {
    margin-top: 10px;
    margin-left: 10px;
}
